<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ОЕЛИКС</title>
</head>
<body bgcolor="#FFA390">
<h1> ОЕЛИКС </h1><hr>
<h4>Панель адміністратора</h4>
<table border="1">
    <tr>
        <th>Email</th>
        <th>Телефон</th>
        <th>Активний</th>
        <th>Роль</th>
        <th>Бан</th>
        <th>Детальніше</th>
    </tr>

    <tr th:each="user:${users}">
        <td th:text="${user.email}"/>
        <td th:text="${user.numberPhone}"/>
        <td th:text="${user.active}? 'ACTIVE' : 'RETIRED'"/>
        <td th:text="${user.roles}"/>
        <td>
            <form th:action="@{/admin/user/ban/{id}(id=${user.id})}" method="post">
                <input type="submit" value="Бан">
            </form>
        </td>
        <td><a th:href="@{/user/{id}(id=${user.id})}">Детальніше</a></td>
    </tr>
</table>
</body>
</html>