<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body th:inline="text" bgcolor="#FFA390">
    <h1>оеликс</h1> <hr>
    <h3>Інфо про товар</h3>
    <b>Назва товару: </b> [[${product.title}]] <br>
    <b>Ціна: </b> [[${product.price}]] <br>
    <b>Стан товару: </b> [[${product.description}]] <br>
    <b>Місто продажу: </b> [[${product.town}]] <br>
    <b>Продавець: </b> [[${product.author}]] <br>
    <form th:action="@{/product/delete/{id}(id=${product.id})}" method="post">
        <input type="submit" value="Видалити товар">
    </form>
</body>
</html>